<h3 style="margin-left:10px;">Mensagens Monitoradas</h3>
<div id='status_influence_tudo'>
	
</div>

<div id="influence_new_message"> <a href="/status_influence/new_msg"><span>nova mensagem</span></a> </div>