<h3 style="margin-left:10px;">Mensagens Monitoradas</h3>
<div id='status_influence_tudo'>
	
	
	<% @status_influence.each do |inf| %>
		<p><%= inf.text %></p>
	
	<% end unless not @status_influence %>
	
</div>

